* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e3f2fd;
}

.virtual-piano {
  width: 700px;
  border-radius: 20px;
  padding: 35px 40px;
  background: linear-gradient(90deg, #272626 60%, black);
}

.virtual-piano header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  font-size: 1.6rem;
}

header .volume-slider {
  display: flex;
  align-items: center;
}

.piano-keys {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.piano-keys .key {
  list-style: none;
  position: relative;
  cursor: pointer;
  color: #a2a2a2;
}

.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.piano-keys .white {
  width: 70px;
  height: 230px;
  border: 1px solid #000;
  border-radius: 8px;
  background: linear-gradient(#fff 96%, #eee 4%);
}

.piano-keys .black {
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  z-index: 2;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}

.pressed {
  box-shadow: 0 3px 4px 0 #9b9fa0;
  opacity: 0.2;
}
